/* reset and common styles  */
*{
  margin:0;
  padding: 0;
  outline:none ;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
 
font-weight: 400;
}

html{
  font-size: 62.5%;
}

.section-1{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255, .3)),url(https://i.pinimg.com/564x/f1/63/de/f163de0d5f31c495543acfeafd3e1453.jpg)center 
  no-repeat;
  background-size: 50%;
  flex-direction: column;
  padding: 0 ;
  
}

.section-heading {
  font-size: 6rem;
  font-weight: 700;
  color: #cb74ce;
  background-color: #ffffff;
  padding: 0 3rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  /* border-bottom: .3rem solid #cb74ce; */
  text-shadow: 0.2rem 0.2rem 1rem rgb(205, 132, 235);
transform: skew(-10deg);


}
 
.person-img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 85%;
  border: 0.7rem dotted #da6dc2;
  background-color: rgba(255, 255,255, 0.7);
  padding: 0.5rem;
  opacity: 0.9;

  
}
.person-name{
  font-size: 3rem;
  color: black;
  background-color: blueviolet;
  transform: skew(-10deg);

}
.section-1-btn {
  font-size: 1.7rem;
  font-weight: 700;
  color: #cb74ce;
  background-color: white;
  border-color: white;
  border: 0.3rem solid #cb74ce;
  text-transform: uppercase;
  letter-spacing: 0.rem;
  
}

.navbar {
  width: 100%;
  height: 9rem;
  background-color: #ecd4ec;
  box-shadow:0.2rem 0.2rem 0.5rem ;

  
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.navbar-link {
  font-size: 1.7rem;
  font-weight: 600;
  color: #cb74ce;
  margin: 0 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
 
}
.navbar-link::before {
  content: "";
  width: 130%;
  height: 0.2rem;
  background-color: #da6dc2;
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width .2s;
}

.navbar-link:hover::before{
    width: 130%;
}
 .navbar-link:hover{
   color: #ffffff;
   transition: color .2s;
 }
 .btn-link {
  font-size: 1.7rem;
  font-weight: 600;
  color: #cb74ce;
  margin: 0 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
 
}
 .btn-link::before{
  content: "";
  width: 130%;
  height: 0.2rem;
  background-color: #da6dc2;
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width .2s;

 }
 .btn-link:hover::before{
  width: 130%;

 }
 
 .btn-link:hover{
  color: #e7a8df;
  transition: color .2s;
  
 }
 .section-2{
   width: 100%;
   height: 100%;
   padding: 5rem 0 10rem 0;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .section-2-heading{
   font-size: 5rem;
   color: #cb74ce;
   text-transform: uppercase;
   letter-spacing: 5rem;
   margin-bottom: 0.5rem;
   text-shadow: 0.2rem 0.2rem 0.5rem #da6dc2;
 }
 .progress-bars-wrapper {
margin-bottom: 10rem;
 }

 .progress-bar{
   width: 60rem;
   height: 3rem;
   background-color: #f1ade3;
   margin: 1.5rem 0 ;
   position: relative;
 }

 .progress-text{
   position:absolute;
   left: 1rem;
   font-size: 1.5rem;
   color: #813f73;
 }

 .progress-text span{
   margin: 0.5rem;
   font-size: 1.8rem;
   font-weight: 700;
 }

 .progress-percent {
   width: 90%;
   height: 90%;

 }
 .services {
   width: 100%;
   height: 30vh;
   display: flex;
   justify-content:space-evenly;
   align-items: center;

 }
 .service {
   text-align: center;


 }
 .service h2 {
   font-size: 2rem;
   color: #cb74ce;
   background-color: #e7a8df;
   width: 25rem;
  letter-spacing: .3rem;
  transform: skew(-10deg);
  box-shadow: .2rem .2rem .5rem ;
 }
 .service i{
   font-size: 7rem;
   color: #cb74ce;
   margin-bottom: 2rem;
   text-shadow: 0.1rem 0.1rem 0.5rem #e7a8df;
 }

 .section-3 {
   width: 100%;
   height: 100%;
   padding: 10rem 0;
   align-items: center;
   display: flex;
   flex-direction: column;
   background-color: #e7a8df;

   
 }

 .projects-wrapper {
   width: 80%;
   flex-wrap: wrap;
 }
 .project {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 1rem;
 }
.project-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
}
.project-name {
  font-size: 3rem;
  font-weight: 700;
  color: #813f73;
  text-transform: capitalize;
  
}
.project-link {
  font-size: 2rem;
  font-weight: 500;
  color: #813f73;
  letter-spacing: 0.1rem;
  border: .3rem solid #da6dc2;
}

.project-image{
  width: 25rem;
  height: 25rem;
  /* object-fit: cover; */
  /* border-radius: 85%; */
  border: 0.7rem dotted #da6dc2;
  background-color: rgba(255, 255,255, 0.7);
  /* padding: 0.5rem;
  opacity: 0.9; */

}

.project-link {
  font-size: 2rem;
  font-weight: 200rem ;
  color: black;
  border: white;
}
.sticky {
  position: fixed;
  top: 0;
}
